table {
    width: 100%;
  }
    
  th{
    font: 1em calibri;
  }
  
  td{
    font: 1em calibri;
  }
  
  .mat-form-field {
    /* font-size: 14px; */
    width: 100%;
  }
  
.example-radio-group {
    margin-right: 5px;
    font: 1em calibri;

  }

  .attendance-cursor{
    cursor: pointer;
  }