<div [@routerTransition]>
    <app-page-header [subheading]="'Leave'" [icon]="'fa-plus'"></app-page-header>
    <div class="btnadd">
        <button (click)="openDialog()" mat-raised-button>Add Leave
            <i class="fa fa-fw fa-plus"></i>
        </button>
    </div>

    <div class="row">
        <div class="col-md-12" *ngIf="!isLoading">

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Employee ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">From Date</th>
                        <th scope="col">To Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of leaveData">
                        <td>{{item.employees_id}}</td>
                        <td>{{item.employee.name}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.employee.designation}}</td>
                        <td>{{item.leave_type}}</td>
                        <td>{{item.from_date}}</td>
                        <td>{{item.to_date}}</td>
                        <td>{{item.description}}</td>
                        <!-- <td><img src="{{item.current_photo}}" /></td> -->
                        <td>
                            <!-- <button (click)="onEdit(item)" class="btn btn-info btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <i class="fa fa-fw fa-edit"></i>
                    </button> -->

                            <button (click)="changeStatus(item.id, 'Accepted')" class="btn btn-info btn-sm" type="button">
                                <i class="fa fa-fw fa-check"></i>
                            </button>

                            <button (click)="changeStatus(item.id, 'Rejected')" class="btn btn-danger mx-3 btn-sm">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div>
        <form [formGroup]="createleave">
            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput placeholder="Category" formControlName="category">
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Designation</mat-label>
                <input matInput placeholder="Designation" formControlName="designation">
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">

                <mat-label>Employee Name</mat-label>
                <mat-select formControlName="employees_id">
                    <mat-option disabled>Select Employee</mat-option>
                    <mat-option *ngFor="let item of employees" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Leave Type</mat-label>
                <input matInput placeholder="Leave Type" formControlName="leave_type">
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>From Date</mat-label>
                <input matInput formControlName="from_date" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>To Date</mat-label>
                <input matInput formControlName="to_date" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-md-12" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Reason for leave..." formControlName="description"></textarea>
            </mat-form-field>

            <div>
                <button (click)="addLeave()" mat-raised-button color="primary">Add</button>&nbsp;
                <button mat-raised-button color="primary" id="cancel" (click)="cancelBtn()">Cancel</button>
            </div>
        </form>
    </div> -->


</div>